.filtro{
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size:13.5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

.filtroLabel{
  padding-left: 0.2em;
}

.formulario{
  text-align: center;
  font-size:16px;
}

.titulo{
  text-align: center;
  font-size:50px;
  font-weight:500;
 }
 
 .tabela {
  text-align: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 1rem;
}

body{
  font-family: Open Sans,sans-serif;
  background-color: #e8d1f1;
  color:#41228f;
  margin: 0;
  line-height:1.5;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
  
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
  background-color: rgb(255,255,255);
}